<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IWCFTest" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8088/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IWCFTest" contract="WCFTest.IWCFTest"
                name="WSHttpBinding_IWCFTest">
                <identity>
                    <userPrincipalName value="yyoki@ad4.ad.alcatel.com" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:30121/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="WcfService1.IService1"
                name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>